@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* html {
  font-size: 62.5%;
} */

body {
  background-color: #f8f9fa;
}

.input {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 1rem 1rem;
}

.form {
  display: grid;
  grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 0.5rem;
  padding: 1rem;
  margin: 2rem 28rem;
  background-color: #fbfbfb;
  border: solid 1px lightgrey;
  border-radius: 1rem;
  box-shadow: 5px 10px 18px #888888;
}

#tours {
  padding: 1rem;
  display: flex;
  border: solid 1px lightgray;
  border-radius: 5px;
  color: grey;
}

.first {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-top: 2rem;
}

.thinner {
  height: 20px;
  color: grey;
}

.second {
  grid-row: 2/3;
  grid-column: 1/2;
}

.second-return {
  grid-row: 2/3;
  grid-column: 2/3;
}

.third {
  grid-row: 3/4;
  grid-column: 1/2;
}

.forth {
  grid-row: 3/4;
  grid-column: 1/2;
}

.fifth {
  grid-row: 4/5;
  grid-column: 1/2;
}

.sixth {
  grid-row: 4/5;
  grid-column: 2/3;
}

.seventh {
  grid-row: 5/6;
  grid-column: 1/3;
}

.longer {
  width: 42rem;
}

.eighth {
  grid-row: 6/7;
  grid-column: 1/2;
}

.ninth {
  grid-row: 6/7;
  grid-column: 2/3;
}

.tenth {
  grid-row: 8/9;
  grid-column: 1/3;
  text-align: center;
  padding-top: 2rem;
}

.align-to-eleventh {
  grid-row: 3/4;
  grid-column: 3/4;
  text-align: center;
  align-self: end;
  margin: 5px;
}
.eleventh {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-row: 4/6;
  grid-column: 3/4;
  margin: 0 10rem;
}

.submit {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.submit:hover {
  background-color: darkgrey;
  font-weight: bold;
}

@media only screen and (max-width: 426px) {
  /* Here need to change the header display */
  .header {
    display: block;
  }
  .form {
    
    grid-template-columns: 1fr;
    margin: 1rem;
    border-radius: 5px;
  }

  .second {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .second-return {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .forth {
    grid-row: 4/5;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .fifth {
    grid-row: 5/6;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sixth {
    grid-row: 6/7;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .seventh {
    grid-row: 7/8;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .eighth {
    grid-row: 8/9;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .ninth {
    grid-row: 9/10;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .tenth {
    grid-row: 10/11;
    grid-column: 1/2;
  }
  .align-to-eleventh {
    grid-row: 11/12;
    grid-column: 1/2;
    text-align: left;
  }
  .eleventh {
    grid-row: 12/13;
    grid-column: 1/2;
    margin: 0 5px;
  }
  .label {
    margin: 0;
    font-size: 1.2rem;
  }
  .input {
    padding: 5px;
    margin: 2px;
  }

  #tours {
    padding: 5px;
    width: 98%;
  }

  .submit:hover {
    background-color: darkgrey;
    font-weight: bold;
  }
}

@media only screen and (min-width: 426px) {
  /* Here need to change the header display */
  .header {
    display: block;
  }
  .form {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 1rem;
    border-radius: 5px;
  }

  .second {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .second-return {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .forth {
    grid-row: 4/5;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .fifth {
    grid-row: 5/6;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sixth {
    grid-row: 6/7;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .seventh {
    grid-row: 7/8;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .eighth {
    grid-row: 8/9;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .ninth {
    grid-row: 9/10;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .tenth {
    grid-row: 10/11;
    grid-column: 1/2;
  }
  .align-to-eleventh {
    grid-row: 11/12;
    grid-column: 1/2;
    text-align: left;
  }
  .eleventh {
    grid-row: 12/13;
    grid-column: 1/2;
    margin: 0 5px;
  }

  .label {
    margin: 0;
    font-size: 1.2rem;
  }
  .input {
    padding: 5px;
    margin: 2px;
  }

  #tours {
    padding: 5px;
    width: 98%;
  }
}

@media only screen and (min-width: 769px) {
  .header {
    display: grid;
  }

  .input {
    border: solid 1px lightgray;
    border-radius: 5px;
    padding: 1rem 1rem;
  }

  .form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    margin: 1rem 2rem;
    background-color: #fbfbfb;
    border: solid 1px lightgrey;
    border-radius: 1rem;
    box-shadow: 5px 10px 18px #888888;
  }

  #tours {
    padding: 1rem;
    display: flex;
    border: solid 1px lightgray;
    border-radius: 5px;
    color: grey;
  }

  .first {
    grid-row: 1/2;
    grid-column: 1/3;
    margin-top: 2rem;
  }

  .thinner {
    height: 20px;
    color: grey;
  }

  .second {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .second-return {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .third {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .forth {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .fifth {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .sixth {
    grid-row: 4/5;
    grid-column: 2/3;
  }

  .seventh {
    grid-row: 5/6;
    grid-column: 1/3;
  }

  .longer {
    width: 42rem;
  }

  .eighth {
    grid-row: 6/7;
    grid-column: 1/2;
  }

  .ninth {
    grid-row: 6/7;
    grid-column: 2/3;
  }

  .tenth {
    grid-row: 7/8;
    grid-column: 1/3;
    text-align: center;
    padding-top: 2rem;
  }

  .align-to-eleventh {
    grid-row: 3/4;
    grid-column: 3/4;
    text-align: center;
    align-self: end;
    margin: 5px;
  }
  .eleventh {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-row: 4/6;
    grid-column: 3/4;
    margin: 0 10rem;
  }

  .submit {
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  .submit:hover {
    background-color: darkgrey;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1363px) {
  .label {
    margin: 5px;
  }
}

@media only screen and (min-width: 1516px) {
  .input {
    margin: 5px;
  }

  .label{
    margin: 10px;
  }
  
  .form {
    margin: 1rem 28rem;
  }
}
