@import url("https://fonts.googleapis.com/css2?family=Amita&family=Bitter&family=Lobster&family=Milonga&family=Montserrat+Alternates&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8;
  letter-spacing: 1px;
  margin-left: 0;
  margin-right: 0;
}

.container {
  box-sizing: border-box;
}

/* GENERAL RULES FOR RESPONSIVE IMAGES START */

figure {
  display: block;
}

figure img {
  max-width: 100%;
}

/* GENERAL RULES FOR RESPONSIVE IMAGES END */

/* HAMBURGER */
.nav-bar {
  background-color: white;
}
.align-tour {
  padding-left: 3rem;
}
.logo {
  width: 5rem;
}
.nav-item {
  font-weight: 600;
}
.header {
  display: none;
}

/* HERO SECTION STARTS HERE */

.main-image {
  height: 300px;
  max-width: 100%;
  background-image: url("/images/backgrounds/machu-picchu-mobile-bg.png");
  background-size: cover;
  vertical-align: middle;
  background-position: center;
  margin-bottom: 1rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-image-text {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 3rem;
  font-weight: 1000;
  color: white;
  text-shadow: 0 0 5px #000000;
  margin: 0;
}

.smaller {
  font-size: 2rem;
}

/* HERO SECTION RULES END HERE */

/* TOUR NAV BAR RULES STARTS HERE */
.nav-grid {
  display: none;
}

/* TOUR NAV BAR RULES END HERE */

/* SLIDESHOW RULES */

/* .mySlides {
  display: none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
} */

/* SLIDESHOW RULES END */

/* DESTINATIONS SECTION RULES START */

.flex1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

.flex1 > * {
  flex-grow: 1;
  flex-basis: 0;
  order: 3;
  padding: 1rem;
}

#first {
  padding: 2rem;
}

#third {
  padding: 2rem;
  line-height: 2;
  background-color: #2d394b;
  color: #ffffff;
}

.align {
  display: flex;
  padding: 1rem;
}

.center {
  text-align: center;
  letter-spacing: 5px;
}

/* CSS card flip */

.card {
  perspective: 150rem;
  position: relative;
  height: 44rem;
}

.card-side {
  height: 44rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card-front {
  background-color: #fff;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card-back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card-back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card-front {
  transform: rotateY(-180deg);
}

.card:hover .card-back {
  transform: rotateY(0);
}

.card-side-1 {
  background-image: url("/images/colosseum.jpg") no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}

.card-img {
}

.card-heading {
  padding: 3rem;
}

.card-details {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  font-weight: 500;
}

.card-details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card-b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card-price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}

.price-only {
  font-size: 2rem;
}

.price-value {
  font-size: 3.5rem;
  font-weight: 200;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.8rem 3rem;
  background-color: #fff;
  color: #777;
  border-radius: 10px;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  cursor: pointer;
  top: 32rem;
  left: 6rem;
}

/*  CSS CARD Flip end Here */

.right {
  text-align: right;
  padding: 1rem;
  margin-right: 5rem;
}

.text {
  padding: 1.6rem;
}

.hand {
  font-size: 1.8rem;
  color: #2d394b;
  margin-right: 1rem;
}

/* DESTINATIONS SECTION RULES END */

/* FOOTER RULES START HERE */

.footer {
  background-color: #11263a;
  color: #ffffff;
  padding: 3rem;
  text-align: center;
}

footer p {
  font-size: 1.2rem;
}

/* FOOTER RULES END HERE */

/* MEDIA QUERY RULES START HERE */

@media only screen and (min-width: 426px) {
  .main-image {
    /* height: 400px; */
    background-image: url("/images/backgrounds/machu-picchu-bg.png");
  }
  .main-image-text {
    font-size: 5rem;
  }
  .smaller {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 769px) {
  .navbar {
    display: none;
  }
  /* HEADER NAV BAR RULES START HERE */

  /* .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0;
  } */

  /* .header > * {
    align-self: center;
  }
 */
  /* .header p {
    display: none;
  }

  .social-media {
    display: none;
  }

  #logo {
    width: 10rem;
  } */

  /* HEADER NAV BAR RULES END HERE */

  /* HEADER START */
  .header {
    display: grid;
    grid-template-columns: 1fr 150px 150px 150px 2fr 50px 50px 50px;
    grid-template-rows: auto;
    margin: 0;
    gap: 1rem;
  }
  .header > * {
    align-self: center;
  }
  .header-text {
    font-size: 1.8rem;
    text-decoration: none;
    color: #282828;
  }
  #logo {
    width: 10rem;
  }
  .social-media {
    display: block;
    margin: 0;
  }
  .blue {
    color: #282828;
    font-size: 2.8rem;
  }
  /* HEADER END */
  /* MAIN IMAGE START */
  .main-image {
    height: 400px;
  }
  .main-image-text {
    font-size: 8rem;
  }
  .smaller {
    font-size: 3rem;
  }
  /* MAIN IMAGE END */
  /* TOUR NAV START */
  .tours {
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
  }
  .nav-grid {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: auto;
    margin: auto;
    background-color: #460c46;
    padding: 1.5rem 0 1rem 0;
    gap: 3rem;
    justify-content: center;
  }
  .nav-grid > * {
    justify-self: center;
    align-self: baseline;
    padding: 1rem;
  }
  .image-bg {
    background-color: #460c46;
    margin: 0;
    border-radius: 5rem;
    padding: 0 0 1rem 0;
  }
  .tours__tab--active {
    transform: translateY(-10%);
  }
  .image-tour {
    display: block;
    object-fit: cover;
    transition: all 0.3s;
  }
  .tour-btn {
    display: block;
    background-color: #460c46;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0;
  }
  .icon-text {
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: unset;
    font-weight: 600;
  }
  /* TOUR NAV END */
  /* TOUR CARDS START HERE */

  .tours__content {
    display: none;
    font-size: 1.7rem;
    margin-top: 5rem;
  }

  .tours__content--active {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    column-gap: 3rem;
    row-gap: 0.5rem;
  }

  .tours__content--active {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    column-gap: 3rem;
    row-gap: 0.5rem;
  }

  .btn-content {
    padding: 2rem 6rem;
    border-radius: 5rem;
    background-color: #1a377b;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .imgTour {
    position: relative;
  }

  .tour-img {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;
  }

  .tour1 {
    left: 0;
    top: -2rem;
  }

  .tour2 {
    right: 0;
    top: 2rem;
  }

  .tour3 {
    left: 20%;
    top: 10rem;
  }

  .tour-img:hover {
    outline: 1.5rem;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20;
  }

  /* TOUR CARDS START HERE */

  .tours-h2 {
    font-size: 3rem;
    font-weight: 800;
  }

  /* TOUR NAV BAR RULES END HERE */
}

@media only screen and (min-width: 992px) {
  .nav-grid {
    grid-template-columns: repeat(7, 100px);
  }
  .icon-text {
    font-size: 1.3rem;
  }
}
