@import url("https://fonts.googleapis.com/css2?family=Amita&family=Bitter&family=Lobster&family=Milonga&family=Montserrat+Alternates&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-left: 0;
  margin-right: 0;
}

.container {
  box-sizing: border-box;
}

.fab {
  font-size: 2.8rem;
}

.fa-instagram {
  color: #e44870;
}

.fa-twitter {
  color: #1d9bf0;
}
/* GENERAL RULES FOR RESPONSIVE IMAGES START */

figure {
  display: block;
}

figure img {
  max-width: 100%;
}
/* GENERAL RULES FOR RESPONSIVE IMAGES END */
/* HAMBURGER */

.navbar {
  background-color: white;
}

.container-fluid {
  background-color: white;
}

.adjusted {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.align-tour {
  padding-left: 3rem;
}

.logo {
  width: 5rem;
}

.nav-item {
  font-weight: 600;
}

.header {
  display: none;
}
/* HEADER NAV BAR RULES END HERE */
/* HERO SECTION STARTS HERE */

.main-image {
  height: 300px;
  max-width: 100%;
  background-image: url("/images/backgrounds/machu-picchu.png");
  background-size: cover;
  vertical-align: middle;
  background-position: center;
  margin-bottom: 1rem;
}
/* CLOUDS ANIMATION OVER THE PHOTO */

.cloud {
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  background: url(../images/cloud.png);
  animation: animate 60s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -5440px;
  }
}

.flex-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-image-text {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 3rem;
  font-weight: 1000;
  color: white;
  text-shadow: 0 0 5px #000000;
  margin: 0;
}

.smaller {
  font-size: 2rem;
}
/* HERO SECTION RULES END HERE */
/* TOUR NAV BAR RULES STARTS HERE */

.nav-grid {
  display: none;
}
/* TOUR NAV BAR RULES END HERE */
/* DESTINATIONS SECTION RULES START */

#first {
  padding: 2rem;
}

#third {
  padding: 2rem;
  line-height: 2;
  background-color: #2a6877;
  color: #ffffff;
}

.align {
  display: flex;
  padding: 1rem;
}

.center {
  text-align: center;
  letter-spacing: 5px;
}

.right {
  text-align: right;
  padding: 1rem;
  margin-right: 5rem;
}

.text {
  padding: 1.6rem;
}

.hand {
  font-size: 1.8rem;
  color: #2d394b;
  margin-right: 1rem;
}
/* DESTINATIONS SECTION RULES END */
/* Slider REVIEWS START HERE */

.section-reviews {
  padding: 1rem 3rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
  background-image: url("/images/back2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.section-reviewsTitle {
  max-width: 80rem;
}

.section-header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.slider-reviews {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slideShow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slideShow > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btns {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  font-size:2rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dot {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}
/* Reviews */
.reviews {
  width: 65%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  border-radius: 5px;
  padding: 1.9rem;
  font-size: 1.6rem;
  transform: skewX(-10deg);
}

.reviews::before {
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: #1a377b;
  z-index: -1;
}

.reviews__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  transform: skewX(10deg);
}

.reviews__text {
  margin-bottom: 3.5rem;
  transform: skewX(10deg);
}

.reviews__author {
  margin-left: 3rem;
  font-style: normal;
  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
  transform: skewX(10deg);
}

.reviews__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.reviews__name {
  font-size: 1.4rem;
  font-weight: 500;
  align-self: flex-end;
  margin: 0;
}

.reviews__location {
  font-size: 1.3rem;
}
/* SLIDER REVIEWS END HERE */
/* Card */

.card-details {
  font-size: 1.5rem;
}

.card-title {
  color: #2a6877;
  font-size: 1.7rem;
  font-weight: 900;
}
/* FOOTER RULES START HERE */

.footer {
  background-color: #f8e55b;
  color: #ffffff;
  padding: 3rem;
  text-align: center;
}

footer p {
  font-size: 1.2rem;
  color: black;
  font-weight: 400;
}
/* FOOTER RULES END HERE */

.btn-text:link,
.btn-text:visited {
  font-size: 1.5rem;
  color: #2a6877;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #2a6877;
  padding: 3px;
  transition: all 0.2s;
  font-weight: 900;
}

.btn-text:hover {
  background-color: #2a6877;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateX(-2px);
  cursor: pointer;
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.btn {
  background-color: #2a6877;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #f8e55b;
  color: #000000;
}

.btn:active {
  background-color: #2a6877;
}
/* MEDIA QUERY RULES START HERE */

@media only screen and (min-width: 426px) {
  .main-image {
    /* height: 400px; */
    background-image: url("/images/backgrounds/machu-picchu-laptop.png");
  }
  .main-image-text {
    font-size: 5rem;
  }
  .smaller {
    font-size: 2rem;
  }
  .reviews__name{
    font-size: 1.6rem;

  }

  .reviews__location{
    font-size: 1.5rem;

  }
}

@media only screen and (min-width: 769px) {
  .navbar {
    display: none;
  }
  /* HEADER START */
  .header {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 1fr 50px 50px 50px;
    grid-template-rows: auto;
    margin: 0;
    gap: 1rem;
  }
  .header > * {
    align-self: center;
  }
  .header-text {
    font-size: 1.8rem;
    text-decoration: none;
    color: #282828;
    font-weight: 600;
    padding-left: 0.5rem;
  }
  #logo {
    /* width: 9rem; */
    padding: 1rem;
    margin: 1rem;
  }
  .social-media {
    display: block;
    margin: 0;
  }
  .blue {
    color: #282828;
    font-size: 2.8rem;
  }
  /* HEADER END */
  /* MAIN IMAGE START */
  .main-image {
    height: 600px;
  }
  .main-image-text {
    font-size: 8rem;
  }
  .smaller {
    font-size: 3rem;
  }
  .cloud {
    height: 600px;
  }
  /* MAIN IMAGE END */
  /* TOUR NAV START */
  .max-width {
    max-width: 1200px;
    margin: auto;
  }
  .tours {
    background-color: #fff;
    height: 350px;
    padding: 3rem;
  }
  .nav-grid {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: auto;
    margin: auto;
    background-color: #2a6877;
    padding: 1.5rem 0 1rem 0;
    gap: 3rem;
    justify-content: center;
  }
  .nav-grid > * {
    justify-self: center;
    align-self: baseline;
    padding: 1rem;
  }
  .image-bg {
    background-color: #2a6877;
    margin: 0;
    border-radius: 5rem;
    padding: 0 0 1rem 0;
  }
  .tours__tab--active {
    transform: translateY(-10%);
  }
  .image-tour {
    display: block;
    object-fit: cover;
    transition: all 0.3s;
  }
  .tour-btn {
    display: block;
    background-color: #2a6877;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0;
  }
  .icon-text {
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: unset;
    font-weight: 600;
  }
  /* TOUR NAV END */
  /* TOUR CARDS START HERE */
  .tours__content {
    display: none;
    font-size: 1.7rem;
  }
  .tours__content--active {
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    column-gap: 3rem;
    row-gap: 0.5rem;
    padding: 4rem;
  }
  .imgTour {
    position: relative;
  }
  .tour-img {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;
    height: 150px;
  }
  .tour1 {
    left: 0;
    top: -2rem;
  }
  .tour2 {
    right: 0;
    top: 2rem;
  }
  .tour3 {
    left: 20%;
    top: 10rem;
  }
  .tour-img:hover {
    outline: 1.5rem;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20;
  }
  /* TOUR CARDS START HERE */
  .tours-h2 {
    font-size: 3rem;
    font-weight: 800;
  }
  .tour-text {
    line-height: 1.6;
  }
  /* TOUR NAV BAR RULES END HERE */

  .slider__btns{
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
  }
}

@media only screen and (min-width: 992px) {
  .nav-grid {
    grid-template-columns: repeat(7, 100px);
  }
  .icon-text {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .btn-text {
    font-size: 1rem;
  }
  .tour2 {
    display: none;
  }
  .tour3 {
    display: none;
  }
  .tour1 {
    padding-left: 20rem;
  }
  .tours-h2 {
    /* background-color: #F8E55B; */
    display: inline-block;
    font-family: inherit;
    font-weight: 900;
    /* border: none; */
    /* padding: 1rem; */
    /* border-radius: 10rem; */
    /* cursor: pointer; */
    color: #2a6877;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .tour-text {
    font-size: 1.4rem;
    line-height: 1.6;
  }

  .tours__content {
    padding: 2rem;
  }
}

@media only screen and (max-width: 426px) {
  .reviews__text {
    font-size: 1.2rem;
  }
  .reviews__author {
    width: 1rem;
  }
  .tour2 {
    display: none;
  }
  .tour3 {
    display: none;
  }
  .tour1 {
    padding-left: 0;
    margin-bottom: 1rem;
  }
  .tours-h2 {
    padding-top: 2rem;
  }
  .reviews {
    width: 76%;
  }
  .section-header {
    font-size: 3rem;
  }
  .tours-h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .tour-text {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}
